
  @import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200&display=swap');

body {
    font-family: 'Bakbak One', cursive;
    text-align: center;
    background-image: url('../images/death-star-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

canvas {
    border: 1px dotted white;
    border-radius: 5px;
  }

  .badge {
    width: 80px;
  }

  .title-logo {
    color: white;
    font-size: 30px;
  }

  .container {
      display: flex;
      flex-direction:row;
      justify-content: space-around;
      /* align-items: center; */
    }


   
    /* .btn-team {
      display:flex;
      justify-items: flex-start;
    } */

  .intro h4 {
    display: flexbox;
    justify-items: end;
    font-size: 30px;
    color: white;
  }

  body button {
    font-size: 30px;
    background-color: #F4D900;
    color: #fff;
    padding: 10px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  h6 {
    color: white;
  }

  .logo-score {
    width: 25px;
  }
  
  #score {
  }